
<h2><%= @post.title %></h2>

<p><%= @post.content %></p>

<h3><%= @post.categories.each do |category| %>
  <%= link_to(category.name, category) %>
  <% end %> </h3>

<h4>Comments:</h4>
  <%= @post.comments.each do |comment| %>
    <%= comment.user.username %> says: <%= comment.content %>
  <% end %>

<h4>Users who have commented:</h4>
  <%= @post.users.uniq.each do |user| %>
    <%= link_to(user.username, user) %>
  <% end %>

<h3>Add Comment:</h3>
  <%= form_for @post.comments.build do |f|%>
    <%= f.hidden_field :post_id %>
    <%= f.text_area :content %><br>
    <%= f.collection_select :user_id, User.all, :id, :username, include_blank: "Choose a User" %>

<h3>Create New User:</h3>
    <%= f.fields_for :user, @post.comments.last.build_user do |user_fields|%><br>
      Username:
      <%= user_fields.text_field :username %>
      Email:
      <%= user_fields.text_field :email %>
    <% end %>

    <%= f.submit %>
  <% end %>
